<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head'); %>
</head>

<body>
     <header>
          <%- include('../partials/header'); %>
     </header>
     <main class="main-container about">
          <h1 class="mb-4">
               😞 Page Not Found!
          </h1>
          <h4 class="mb-4">
               Sorry, We Can't Find What your'e looking for!
          </h4>
     </main>

     <footer>
          <%- include('../partials/footer'); %>
     </footer>
</body>

</html>