<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head'); %>
          <link rel="stylesheet" href="/css/animation.css">
</head>

<body>
     <header>
          <%- include('../partials/header'); %>
     </header>
     <main class="main-container about">
          <br>
          <br>
          <p class="texet-centered">This application was built with nodejs & express Technologies
               On this app you can create, delete and edit goals as you wish. Built as part of full-stack course studies
               at INT College March 22
          </p>
          <a href="/goals/newGoal"><button class="btn btn-primary my-5">Make A Goal</button></a>
     </main>
     <!-- Text animation -->
     <div class="content webapp-animation">
          <h2>About</h2>
          <h2>About</h2>
     </div>
     <footer>
          <%- include('../partials/footer'); %>
     </footer>
</body>

</html>