<nav class="navbar navbar-expand-lg">
     <div class="container-fluid d-flex justify-content-center">
          <!-- <img src="http://www.uploads.co.il/uploads/images/317373686.png" width="40px" alt="asd"> -->
          <a class="navbar-brand" href="/">🎯Goals<span>.inc</span></a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
               </li>
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                         aria-expanded="false">
                         Goals
                    </a>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="/goals/newGoal">New Goal</a></li>
                         <li><a class="dropdown-item" href="/goals">My Goals</a></li>
                    </ul>
               </li>
          </ul>
     </div>
</nav>